<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Shetkari_Mitra">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".MapsActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDCkPXDm31oTW0QpCmXBcfI3Trkpzt3i8Y" />

        <activity
            android:name=".Near_By_Hospitals"
            android:exported="true">

        </activity>
        <activity
            android:name=".nav_Emergency_Contacts"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Start_Activity"
            android:exported="true">

        </activity>
        <activity
            android:name=".RescuerDatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".Registration_example"
            android:exported="true">

        </activity>
        <activity
            android:name=".Activity_About_Us"
            android:exported="false" />
        <activity
            android:name=".Activity_Rescuiers_Data"
            android:exported="false" />
        <activity
            android:name=".Acitivity_identify_snake"
            android:exported="false" />
        <activity
            android:name=".HospitalRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".First_Aid"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Admin_Activity"
            android:exported="true" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>